{{define "page"}}
    <h1>{{ .Title }}</h1>
    {{ range .Articles }}
        <div class="art">
            <a href="/a/{{ .UUID }}">
            {{ .Headline }}
            </a>
        </div>
    {{ end }}
{{end}}