<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .bhs {
            font-family: "Black Han Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .nsk {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
        }
    </style>
</head>
<body class="nsk">
    <header class="bg-gradient-to-r from-orange-500 to-pink-400" >
        <nav class="bhs px-8 py-6 flex items-center">
            <div>
                <a href="/" class="text-2xl">대박 Korean</a>
            </div>
            <div class="flex-grow">
                <a href="/contact" class="px-8">contact</a>
                <a href="/faq" class="px-8">faq</a>
            </div>
            <div>
                {{ if currentUser }}
                    <a href="/logout" class="px-8">logout</a>
                    <a href="/profile" class="px-8">{{ currentUser.Email }}</a>
                {{ else }}
                    <a href="/login" class="px-8">login</a>
                    <a href="/signup" class="px-8">signup</a>
                {{ end }}
            </div>
        </nav>
    </header>
    {{ if toastMessages }}
        <div class="py-4 px-8">
            {{ range toastMessages }}
            <div class="closeable flex bg-red-100 rounded px-2 py-2 text-red-800 mb-2">
                <div class="flex-grow">{{ .Type }}: {{ .Text }}</div>
                <a href="#" onclick="closeAlert(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                    </svg>
                </a>
            </div>
            {{ end }}
        </div>
    {{ end }}
    <div class="py-4 px-8">
        {{template "page" .}}
    </div>
<script>
    function closeAlert(event) {
        let closeable = event.target.closest(".closeable")
        closeable.remove()
    }
</script>
</body>
</html>