<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        .bhs {
            font-family: "Black Han Sans", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
        .nsk {
            font-family: "Noto Sans KR", sans-serif;
            font-optical-sizing: auto;
            font-weight: 200;
            font-style: normal;
        }
    </style>
</head>
<body class="nsk">
    <header class="bg-gradient-to-r from-orange-500 to-pink-400" >
        <nav class="bhs px-8 py-6 flex items-center">
            <div>
                <a href="/" class="text-2xl">대박 Korean</a>
            </div>
            <div class="flex-grow">
                <a href="/contact" class="px-8">contact</a>
            </div>
            <div style="float:right;">
                {{if currentUser}}
                    <span>{{currentUser.Email}}</span>
                    <a href="/users/logout">Logout</a>
                {{else}}
                    <a href="/users/register">Signup</a>
                    <a href="/users/login">Login</a>
                {{end}}
            </div>
        </nav>
    </header>
    <div class="py-4 px-8">
        {{template "page" .}}
    </div>
</body>
</html>