{{define "page"}}
<h2>Register</h2>
{{if .Error}}<div class="error">{{.Error}}</div>{{end}}
<form method="POST">
	<input type="email" name="email" required placeholder="Email" autocomplete="email" />
	<input type="password" name="password" required placeholder="Password" />
	<button type="submit">Register</button>
</form>
{{end}}
